html, body, select, textarea
  color: white
  background-color: black

.alert.alert-danger
  color: white
  background-color: red

.float-right
  float: right

// .row

.m8
  margin: 8px

.m2
  margin: 2px

table tr th
  text-align: left


table tr td > select
  width: 100%
